{% extends 'layout.html' %}
{% block header %}
    <h2 class="title nav-text">Create publication.</h2>
{% endblock %}

{% block content %}
    <form method="POST" action="create_json" class="form-big" enctype="multipart/form-data">
        <div id="request-level">
            <!-- Basic info row-->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="title">Titel</label>
                    <input class="form-control" type="text" name="title" placeholder="Besluit op Wob-verzoek inzake..."  >
                </div>
                <div class="form-group col-md-2">
                    <label for="identifier">Uniek ID</label>
                    <input class="form-control" type="text" name="identifier" placeholder="ID">
                </div>
                <div class="form-group col-md-4">
                    <label for="type">Type</label>
                    <select class="form-control" name="type">
                        <option disabled selected value> -- selecteer een optie -- </option>
                        <option>Verzoek</option>
                        <option>Actieve openbaarmaking</option>
                    </select>
                </div>
            </div>

            <!-- Secondary info row-->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="firstRecipient">Eerste ontvanger</label>
                    <input class="form-control" type="text" name="firstRecipient" placeholder="Eerste ontvanger">
                </div>
                <div class="form-group col-md-4">
                    <label for="topic">Thema</label>
                    <input class="form-control" type="text" name="topic" placeholder="Thema">
                </div>
                <div class="form-group col-md-2">
                    <label for="idTopic">Thema ID</label>
                    <input class="form-control" type="text" name="idTopic" placeholder="Thema ID">
                </div>
            </div>

            <!-- Extra info row-->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="sourceUrl">URL naar publicatie</label>
                    <input class="form-control" type="text" name="sourceUrl" placeholder="URL"  >
                </div>
                <div class="form-group col-md-4">
                    <label for="requester">Verzoeker</label>
                    <input class="form-control" type="text" name="requester" placeholder="Verzoeker">
                </div>
                <div class="form-group col-md-2">
                    <label for="idInternal">Intern ID</label>
                    <input class="form-control" type="text" name="topic" placeholder="Intern ID">
                </div>
            </div>

            <!-- Date row-->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="fileDate">Verzoekdatum</label>
                    <input class="datepicker_input form-control" type="text" name="fileDate" placeholder="DD/MM/YYYY">
                </div>
                <div class="form-group col-md-6">
                    <label for="decisionDate">Besluitdatum</label>
                    <input class="datepicker_input form-control" type="text" name="decisionDate" placeholder="DD/MM/YYYY"  >
                </div>
            </div>

            <!-- Decision row-->
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="handledBy">Behandeld door</label>
                    <input class="form-control" type="text" name="handledBy" placeholder="Behandeld door"  >
                </div>
                <div class="form-group col-md-4">
                    <label for="valuation">Beoordeling</label>
                    <select class="form-control" name="valuation" >
                        <option disabled selected value> -- selecteer een optie -- </option>
                        <option>Openbaar</option>
                        <option>Deels openbaar</option>
                        <option>Niet openbaar</option>
                        <option>Reeds openbaar</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="adjourned">Verdaagd (indien van toepassing)</label>
                    <select class="form-control" name="adjourned">
                        <option disabled selected value> -- selecteer een optie -- </option>
                        <option>Ja</option>
                        <option>Nee</option>
                    </select>
                </div>
            </div>
            
            <!-- Description row-->
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="description">Beschrijving</label>
                    <textarea class="form-control" rows="3" name="description" placeholder="Beschrijving"></textarea>
                </div>
            </div>

            <button style="float: right" type="button" class="btn btn-primary" onclick="createDocuments()">Volgende stap</button>
        </div>

        <div id="document-level" style="display: none">
            <div class="input_fields_wrap">
            </div>
            <div><button style="margin-bottom: 30px" type="button" class="btn btn-primary" id="newdocument" onclick="addDocument()">Voeg document toe</button></div>
            <button type="button" class="btn btn-primary" onclick="backToRequest()">Vorige stap</button>
            <button style="float: right" class="btn btn-primary" type="submit">Maak JSON</button>
        </div>
    </form> 

{% endblock %}

{% block script %}
<script>

    var wrapper = $(".input_fields_wrap");
    var documents = 1;

    // Switch to document view
    function createDocuments() {
        document.getElementById('request-level').style.display = "none";
        document.getElementById('document-level').style.display = "block";
    }

    // Switch to request view
    function backToRequest() {
        document.getElementById('request-level').style.display = "block";
        document.getElementById('document-level').style.display = "none";
    }

    // Show extra fields for released documents
    function extraFields(docid, value) {
        elementid = docid + 'extraFields';
        console.log(elementid);
        if (value == 'Vrijgegeven document') {
            document.getElementById(docid + 'extraFields').style.display = 'block';
        }
        else {
            document.getElementById(docid + 'extraFields').style.display = 'none';
        }
    }

    // Add a document
    function addDocument() {
        var prefix = `doc${documents}.`
        $(wrapper).append(`
        <h3>Document ${documents}</h3>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="title">Titel</label>
                <input class="form-control" type="text" name="${prefix}title" placeholder="Titel">
            </div>
            <div class="form-group col-md-3">
                <label for="type">Documenttype</label>
                <select class="form-control" id="${prefix}" name="${prefix}documentType" onchange="extraFields(this.id, this.value)">
                    <option disabled selected value> -- selecteer een optie -- </option>
                    <option>Verzoek</option>
                    <option>Besluit</option>
                    <option>Inventarislijst</option>
                    <option>Vrijgegeven document</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="date">Datum</label>
                <input class="datepicker_input_${documents} form-control" type="text" name="${prefix}date" placeholder="DD/MM/YYYY"  >
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="file">Bestand</label>
                <input class="form-control" type="file" name="${prefix}file" placeholder="Kies bestand...">
            </div>
            <div class="form-group col-md-6">
                <label for="language">Taal</label>
                <select class="form-control" name="${prefix}language">
                    <option disabled selected value> -- selecteer een optie -- </option>
                    <option>nld</option>
                    <option>eng</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label for="description">Beschrijving</label>
                <textarea class="form-control" rows="3" name="${prefix}description" placeholder="Beschrijving"></textarea>
            </div>
        </div>
        
        <!-- Extra fields for published documents-->
        <div style="display: none" id="${prefix}extraFields">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="originator">Verzender</label>
                    <input class="form-control" type="text" name="${prefix}originator" placeholder="Verzender">
                </div>
                <div class="form-group col-md-4">
                    <label for="recipient">Ontvanger</label>
                    <input class="form-control" type="text" name="${prefix}recipient" placeholder="Verzender">
                </div>
                <div class="form-group col-md-4">
                    <label for="annexType">Type vrijgegeven document</label>
                    <input class="form-control" type="text" name="${prefix}annexType" placeholder="Type vrijgegeven document">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="valuation">Beoordeling</label>
                    <select class="form-control" name="${prefix}valuation" >
                        <option disabled selected value> -- selecteer een optie -- </option>
                        <option>Openbaar</option>
                        <option>Deels openbaar</option>
                        <option>Niet openbaar</option>
                        <option>Reeds openbaar</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="groundsOfRefusal">Weigeringsgrond(en) (gescheiden met komma)</label>
                    <input class="form-control" type="text" name="${prefix}groundsOfRefusal" placeholder="Weigeringsgrond(en)">
                </div>
                <div class="form-group col-md-4">
                    <label for="alreadyPublicLocation">Vindplaats reeds openbaar</label>
                    <input class="form-control" type="text" name="${prefix}alreadyPublicLocation" placeholder="Vindplaats reeds openbaar">
                </div>
            </div>
        </div>`);
        const elems = document.querySelectorAll(`.datepicker_input_${documents}`);
        for (const elem of elems) {
        const datepicker = new Datepicker(elem, {
            'format': 'yyyy-mm-dd', // UK format
            title: getDatePickerTitle(elem)
        });

        documents++;
    }  
    }

    /* Bootstrap 5 JS included */
    /* vanillajs-datepicker 1.1.4 JS included */

    const getDatePickerTitle = elem => {
    // From the label or the aria-label
    const label = elem.nextElementSibling;
    let titleText = '';
    if (label && label.tagName === 'LABEL') {
        titleText = label.textContent;
    } else {
        titleText = elem.getAttribute('aria-label') || '';
    }
    return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
    const datepicker = new Datepicker(elem, {
        'format': 'yyyy-mm-dd', // UK format
        title: getDatePickerTitle(elem)
    });
    }     
</script>
{% endblock %}

